<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
            color: floralwhite;
        }
        p  {
            color: goldenrod;
        }
        body{
            background-color: dimgrey;
        }
    </style>
    <meta charset="UTF-8">
    <title>mBay</title>
</head>
<body>
    <h1>mBay</h1>
    <p>not coppying ebay obviously</p>
    <img src="/static/images/fb.jpg" style="height: 200px; width: 200px;">
    <img src="/static/images/tb.jpeg" style="height: 200px; width: 200px;">
    <img src="/static/images/bb.jpeg" style="height: 200px; width: 200px;">

</body>
</html>